<footer>
  <ul>
    <li>
      <img src="/photos/ig-logo.svg" alt="Instagram Logo">
      <span>@thesugarhouse</span>
    </li>
    <li>
      <img src="/photos/email-logo.svg" alt="Envelope">
      <span>thesugar.house2@gmail.com</span>
    </li>
  </ul>
</footer>