<footer>
  <ul>
    <li><span>Contact:</span></li>
    <li>
      <a href="https://www.instagram.com/thesugar.house/">
        <img src="/photos/ig-logo.svg" alt="Instagram Logo">
      </a>
      <p>@thesugar.house</p>
    </li>
    <li>
      <img src="/photos/email-logo.svg" alt="Envelope">
      <p>thesugarhouse.02@gmail.com</p>
    </li>
    <li><span>Accepted Payment Methods:</span></li>
    <li>
      <span>Venmo</span>
    </li>
    <li>
      <span>Apple Pay</span>
    </li>
    <li>
      <span>Zelle</span>
    </li>
  </ul>
</footer>