<header class="header">
  <img class="logo" src="/photos/sugar-house-logo.jpeg" />

  <a href="#menu" class="menu-link btn btn-outline">Menu</a>
  <a href="#order" class="order-link btn btn-outline">Order</a>
</header>