<div class="header">
  <img class="logo" src="/photos/sugar-house-logo.jpeg" />

  <button id="menu"class="menu-link btn btn-outline">Menu</button>
  <button id="order"class="order-link btn btn-outline">Place Order</button>
</div>