<section id="menu" class="menu">
  <h1 class="menu-title">Sweets</h1>

  <img src="/photos/sugar-house-logo.svg" alt="Logo">

  <div class="menu-content">
    {{> cookies }}
    {{> cupcakes }}
    {{> nine-inch}}
    {{> prices }}
    {{> payment }}
  </div>
</section>