<section id="menu" class="menu">
  <img class="border" src="/photos/menu-top.svg" alt="Border">
  <h1 class="menu-title">Sweets</h1>

  <img src="/photos/sugar-house-logo.svg" alt="Logo">

  <div class="menu-content">
    {{> cookies }}
    {{> cupcakes }}
    {{> nine-inch}}
    {{> prices }}
    {{> payment }}
  </div>

  <img class="border" src="/photos/menu-bottom.svg" alt="Border">
</section>