<nav class="header">
  <ul class="nav-list">
    <li class="nav-item"> <a href="#products"> Products </a> </li>
    <li class="nav-item"> <a href="#prices"> Prices </a> </li>
    <li class="nav-item"> <a href="#payment"> Payment </a> </li>
    <li class="nav-item"> <a href="#order"> Order </a> </li>
  </ul>
</nav>