<div class="order" id="order">
  <p>Accepted Payment Methods: </p>
  <p>Zelle</p>
  <p>Venmo</p>
  <p>Apple Pay</p>

  <p>Pickup in front of Bella Vista Apartments</p>

  <a href="/order">Place your order now!</a>
  <p>Or send me an email for custom orders: <a href="mailto:chigurh493@gmail.com">Send</a></p>
</div>