<section class="order" id="order">
  <div class="order-content">
    <aside>
      <h2>Our products are:</h2>
      <h4>Organic</h4>
      <h4>Made to order(not to mention with love)</h4>
      <h4>Sugary and delicious!</h4>
      <a class="btn btn-outline" href="/order">Place your order now!</a>
      <h4>Craving something else? Reach out to place a custom order!</h4>
    </aside>

    {{> emailform}}
  </div>
</section>