<div class="payment" id="payment">
  <h3>Payment</h3>
  <h4 class="menu-heading">Accepted Methods: </h4>

  <ul class="menu-list">
    <li>Zelle</li>
    <li>Venmo</li>
    <li>Apple Pay</li>
  </ul>

  <p>Pickup at Bella Vista Apartments</p>

</div>