<div class="prices">
  <h3>Pricing</h3>

  <div class="item-rates">

    <ul class="menu-list">
      <li>
        <h4 class="menu-heading">Cookies</h4>
      </li>
      <li>Pack of 6 - $12</li>
      <li>Pack of 12 - $20</li>

      <li>
        <h4 class="menu-heading">Cupcakes</h4>
      </li>
      <li>Pack of 4 - $10</li>
      <li>Pack of 6 - $15</li>
      <li>Pack of 12 - $25</li>

      <li>
        <h4 class="menu-heading">Cakes/Brownies/Blondies</h4>
      </li>
      <li>All 9-inch items $20</li>

    </ul>
  </div>
</div>