<div class="prices">
  <h3>Pricing</h3>

  <div class="item-rates">
    <h4>Cookies</h4>
    <p>Pack of 6 - $12</p>
    <p>Pack of 12 - $20</p>

    <h4>Cupcakes</h4>
    <p>Pack of 4 - $10</p>
    <p>Pack of 6 - $15</p>
    <p>Pack of 12 - $25</p>

    <h4>Cakes/Brownies/Blondies</h4>
    <p>All 9-inch items $20</p>
  </div>

</div>