<div class="prices">
  <h3>Pricing</h3>

  <div class="item-rates">

    <ul class="menu-list">
      <li>
        <h4 class="menu-heading">Cookies</h4>
      </li>

      {{#each cookiePricing}}
        <li>Pack of {{this}}</li>
      {{/each}}
      <li>By the Dozen - $20</li>

      <li>
        <h4 class="menu-heading">Cupcakes</h4>
      </li>
      
      {{#each cupcakePricing}}
        <li>Pack of {{this}}</li>
      {{/each}}
      <li>By the Dozen: - $25</li>

      <li>
        <h4 class="menu-heading">9-inch</h4>
      </li>
      <li>$20 per item</li>

    </ul>
  </div>
</div>