@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');

:root {
  --primary: #7a1f48;
  --secondary: #ffc1d6;
  --bg-light-grey: #f5f5f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

html {
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif
}

html, body {
  font-size: 16px;
  width: 100%;
  height: 100%
}

input {
  display:inline-block
}

label {
  display: block;
  text-align: start;
}

a {
  text-decoration: none
}

li {
  list-style-type: none
}

textarea {
  width: 100%;
  resize: none;
}

.page-container {
  position: absolute;
  background-color: var(--bg-light-grey);
  text-align: center;
  min-height: 100%;
  width: 100%;
}

.form {
  color: black;
  background-color: white;
  margin: auto auto;
  padding: 2rem;

  border-radius: 7px;
  box-shadow: 0 0 8px #333
}

.form-group {
  font-size: 16px;
  margin: 0.5rem 0;
}

.form-group input,
.form-group select, 
.form-group label,
.form-group textarea {
  font-size: inherit;
  width: 100%;
  background-color: white;
  border: 1px inset #555;
  border-radius: 7px;
  padding: 0.875rem;
  padding-left: 0
}

.form-group input, .form-group textarea {padding-left: 0.375rem}
.form-group textarea { border: 1px inset #555}
.form-group label { border: none}

input:focus, select:focus, textarea:focus {
  outline: none;
  border:2px solid rgb(42, 161, 235);
}


.btn {
  font-family: inherit;
  letter-spacing: 2px;
  font-weight:500;
  cursor: pointer;
  color: white;
  background-color: #7a1f48; 
  border: 2px solid #7a1f48;
  border-radius: 10px;
  padding: 0.875rem
}

.btn-outline {
  color: white;
  background: none;
  border: 3px solid white
}

.btn:hover {
  transform:translateY(-4px);
  opacity: 0.90;
  transition: transform 0.2s, opacity 0.2s
}

.btn-outline:hover {
  background-color:white;
  color: var(--primary);
  border: 3px solid var(--primary);
  transition: color 0.5s, background-color 0.5s
}

