* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

html, body {
  /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif */
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  height: 100%;
}

label, input {
  display:inline-block
}

a {
  text-decoration: none;
}

.main-container {
  text-align: center;
  min-height: 100%
}

.btn-submit, .btn {
  border-radius: 10px;
  padding: 0.5rem
}

.btn-outline {
  color: #ffc1d6;
  background: none;
  border: 3px solid #ffc1d6
}

.btn-outline:hover {
  background-color:white;
  color: #7a1f48;
  border: 3px solid #7a1f48;
  transition: color 0.5s, background-color 0.5s
}