@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Shadows+Into+Light&display=swap');

header {
  display: grid;
  grid-template-areas: 
  "logo logo"
  "logo logo"
  "menu order";
  justify-content: center;
  gap: 0.375rem;
  min-height: 100vh;
  background-color: #7a1f48;
  text-align: center;
}

.logo {
  grid-area: logo;
  margin: auto;
  margin-top: 3rem;
  width: 768px;
  height: 600px;
  overflow: hidden;
}

.menu-link {
  grid-area: menu;
}

.order-link {
  grid-area: order;
}

.menu-link, .order-link {
  width: 200px;
  justify-self: center;
  align-self: center;
  margin-bottom: 4rem;
  font-weight: 600;
  padding: 1rem;
  letter-spacing: 1px;
}

.menu {
  background-color: bisque;
  margin: 0 auto;
  width: 70vw;
  margin-top: 1rem;
  padding: 1.5rem 0.375rem;
  font-family:'Courgette', cursive;
  font-size: 24px
}

.menu img {
  width: 144px;
  height:144px
}

.menu h3 {
  font-weight:bolder;
  font-size: 30px;
  margin-bottom: 2rem;
}

.menu-title {
  margin-bottom: 2rem;
}

.menu li {
  margin-top: 1rem
}

.menu-content {
  display: grid;
  justify-content: center;
  gap: 2rem;
  font-family:'Shadows Into Light', cursive;
  grid-template-areas: 
  "cookies cupcakes prices"
  "cookies payment prices"
  "nine-inch payment prices"
  "nine-inch payment prices";
  padding: 1rem 0;
  height: auto
}

.menu-content .menu-heading {
  font-weight: 800;
  font-size: 26px;
}

.cookies, 
.nine-inch, 
.cupcakes,
.prices {
  padding: 1rem 0.875rem
}

.cookies {
  grid-area: cookies
}

.nine-inch {
  grid-area: nine-inch
}

.cupcakes {
  grid-area: cupcakes
}

.prices {
  grid-area: prices
}

.payment {
  grid-area: payment;
  padding-top: 4rem;
}

.order {
  height: 600px;
}

footer {
  height: 200px
}

@media screen and (max-width: 1200px) {
  .logo {
    width: 50%;
    margin: auto;

  }
}

@media screen and (max-width: 800px) {
  .logo {
    margin: auto;
    width: 500px;
    height: 390px
  }
}

@media screen and (max-width: 415px) {
  .logo {
    width: 95%;
  }

  .menu-link, .order-link {
    width: 150px;
    font-size: 16px
  }

  .menu-content {
    grid-template-areas: 
    "cookies"
    "nine-inch"
    "cupcakes"
    "payment"
    "prices";
    height: auto
  }
}

@media screen and (max-height: 414px) {
  .logo {
    margin-top: auto;
    width: 85%;
    height: auto;
  }

  .header {
    height: auto;
  }
}