.main-content {
  display: grid;
  grid-template-areas: 
  "nav nav"
  "products prices"
  "products prices"
  "payment order"
  "payment order";
}

.header {
  display: grid;
  grid-template-areas: 
  "logo logo"
  "logo logo"
  "menu order";
  justify-content: center;
  height: 100vh;
  background-color: #7a1f48;
  text-align: center;
}

.logo {
  grid-area: logo;
  margin: auto;
  margin-top: 3rem;
  width: 768px;
  height: 600px;
  overflow: hidden;
}

.menu-link {
  grid-area: menu;
}

.order-link {
  grid-area: order;
}

.menu-link, .order-link {
  width: 200px;
  justify-self: center;
  align-self: center;
  margin-bottom: 4rem;
  font-weight: 600;
  padding: 1rem;
  font-size: 16px
}

.products {
  height: 600px;
}

.prices {
  height: 600px;
}

.payment {
  height: 600px;
}

.order {
  height: 600px;
}

.footer {
  height: 200px
}

@media screen and (max-width: 1200px) {
  .main-content {
    grid-template-areas: 
    "nav"
    "products"
    "prices"
    "payment"
    "order";
  }
}

@media screen and (max-width: 800px) {
  .logo {
    margin-top: 22vh;
    width: 75%;
    height: 50%
  }
}

@media screen and (max-width: 375px) {
  .logo {
    width: 95%;
  }

  .menu-link, .order-link {
    width: 150px
  }
}

@media screen and (max-height: 375px) {
  .logo {
    margin-top: 0;
    width: 95%;
  }

  .header {
    height: auto;
  }
}